<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    
    <select (change)="onSelectionChange($event)">
     <option value="1">Categoria</option>
     <option value="2">Nombre</option>
     <option value="3">Codigo</option>
   </select>
   &nbsp; &nbsp;
      <input
        type="text"
        class="form-control"
        placeholder="Busqueda por Criterios"
        [(ngModel)]="codigo"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="search()"
        >
          Buscar por Criterios
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h3 class="text-center">Lista Productos </h3>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="color: blue;font-weight: bolder;">Id</th>
                        <th style="color: green; font-weight: lighter;">Nombre</th>
                        <th style="color: green; font-weight: lighter;">Descripcion</th>

                           <th style="color: blue;font-weight: bolder;">Precio</th>
                        <th style="color: green; font-weight: lighter;">Stock</th>
                       
                    </tr>
                </thead>
                <tbody>
                   
                    <tr *ngFor="let producto of productos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProducto(producto, i)">
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                       
                                       <td>{{producto.precio}}</td>
                        <td>{{producto.stock}}</td>
             
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <app-producto-details
      [viewMode]="true"
      [currentProducto]="currentProducto"
    ></app-producto-details>
  </div>
</div>
