<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Busqueda por Criterios"
        [(ngModel)]="codigo"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Buscar por Criterios
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h3 class="text-center">Lista Productos </h3>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="color: blue;font-weight: bolder;">Id</th>
                        <th style="color: green; font-weight: lighter;">Nombre</th>
                        <th style="color: green; font-weight: lighter;">Descripcion</th>

                           <th style="color: blue;font-weight: bolder;">Precio</th>
                        <th style="color: green; font-weight: lighter;">Stock</th>
                       
                    </tr>
                </thead>
                <tbody>
                   
                    <tr *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)">
                        <td>{{tutorial.id}}</td>
                        <td>{{tutorial.nombre}}</td>
                        <td>{{tutorial.descripcion}}</td>
                       
                          <td>{{tutorial.precio}}</td>
                        <td>{{tutorial.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <app-producto-details
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-producto-details>
  </div>
</div>
