<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProducto.id">

    <h4>Detalle Producto</h4>
    <div>
      <label><strong>nombre:</strong></label> {{ currentProducto.nombre }}
    </div>
    <div>
      <label><strong>Descripcion:</strong></label>
      {{ currentProducto.descripcion }}
    </div>
    <div>
      <label><strong>Precio:</strong></label>
      {{ currentProducto.precio }}
    </div>
  <div>
      <label><strong>Stock:</strong></label>
      {{ currentProducto.stock }}
    </div>
      <div>
      <label><strong>Categoria:</strong></label>
      {{ currentProducto.categoria }}
    </div>
         <div>
      <label><strong>Codigo:</strong></label>
      {{ currentProducto.codigo }}
    </div>
             <div>
      <label><strong>Fecha Creación:</strong></label>
  
      {{currentProducto.fechaCreacion |date:"longDate" }}
    </div>
    <a class="badge badge-warning"
      routerLink="/productos/{{ currentProducto.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentProducto">
    <br />
    <p>Please click on a Producto...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProducto.id" class="edit-form">
    <h4>Producto</h4>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="currentProducto.nombre"
          name="nombre"
        />
      </div>

      <div class="form-group">
        <label for="descripcion">Description</label>
        <input
          class="form-control"
          id="descripcion"
          required
          [(ngModel)]="currentProducto.descripcion"
          name="descripcion"
        />
      </div>

            <div class="form-group">
        <label for="precio">Precio</label>
        <input
          class="form-control"
          id="precio"
          required
          [(ngModel)]="currentProducto.precio"
          name="precio"
        />
      </div>

                  <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number"
          class="form-control"
          id="stock"
          required
          [(ngModel)]="currentProducto.stock"
          name="stock"
        />
      </div>


                  <div class="form-group">
        <label for="categoria">Categoria</label>
        <input
          class="form-control"
          id="categoria"
          required
          [(ngModel)]="currentProducto.categoria"
          name="categoria"
        />
      </div>

      
       <div class="form-group">
        <label for="codigo">Codigo</label>
        <input
          class="form-control"
          id="codigo"
          required
          [(ngModel)]="currentProducto.codigo"
          name="codigo"
        />
      </div>

         
        <div class="form-group">
        <label for="fechaCreacion">fechaCreación</label>
        <input type="date"
          class="form-control"
          id="fechaCreacion"
          required
          [(ngModel)]="currentProducto.fechaCreacion"
          name="fechaCreacion"
        />
        
      </div>

  
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteProducto()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProducto()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProducto.id">
    <br />
    <p>Cannot access this Producto...</p>
  </div>
</ng-template>
